.css-flame-text {
    /* background-image: linear-gradient(90deg, #f00 25%, #ffb300 60%); */
    background-image:linear-gradient(90deg, #16e2c0 46%, #f1e609 49%);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    /* font-size: 50px; */
    font-weight: bold;
    display: inline-block;
    font-size: 2.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.main{
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    width: 400px;
    height: 400px;
}
/* .box:nth-child(2n){
    grid-row: 2;
} */
.box{
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px solid aqua;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: #f1e609;
    border: 3px solid aqua;
}
#boxContainer{
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}